/* 1. Import the font from Google */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

/* 2. Tell Tailwind to use it */
@theme {
  --font-display: "Space Grotesk", sans-serif;
}